$background: #fff;
$background-header-text: #fff;
$background-gradient-start: #0143a3;
$background-gradient-end: #0273d4;

$background-sidenav: #106cc8;
$background-sidenav-gradient-start: #185694;
$background-sidenav-content: rgba(0, 0, 0, 0);
$background-transparent-content: rgba(0, 0, 0, .75);

.list-background {
  background-color: $background-gradient-end;
}

.placeholder-image {
  height: auto;
  max-height: 200px;
  max-width: 200px;
  width: auto;
}

.background-color {
  background: linear-gradient($background-gradient-start, $background-gradient-end);
  background-color: $background-gradient-start;
  color: $background-header-text;
}

.nav-logo-size {
  height: 56px;
  width: 150px;
}

.background-header {
  background-image: url('../IMG/header-background.png');
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  height: 700px;

  .z-logo {
    font-weight: bold;
    margin: 24px auto 40px;
    opacity: 1;
    padding-top: 270px;
    position: relative;
  }

  .z-logo::after {
    background: url('../IMG/favicon.png') top center no-repeat;
    background-size: contain;
    content: '';
    height: 224px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
  }
}

.nav-z-logo {
  background: url('../IMG/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 115px;
}

.header-text {
  padding-top: 100px;
  text-align: center;
}

.nav-toolbar {
  height: 56px;
  min-height: 56px;
}

.sidenav-settings {

  background: $background-sidenav;

  .side-align-override {
    justify-content: center;
  }

  .md-button {
    color: $background-header-text;
    font-size: 18px;
    text-align: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sidenav-button-text {
    font-size: 16px;
    text-align: left;
  }

  .sidenav-transparency {
    background: $background-sidenav-content;
  }
}

.no-margin {
  margin: 0;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.md-tab {
  min-width: 80px;
  padding-left: 0;
  padding-right: 0;
}

.action-button {
  display: flex;
}

.tab-content {
  min-height: 550px;
}

.card-tab {
  max-width: 700px;
}

.card-bg {
  background-color: $background;
}

.card-height {
  min-height: 320px;
}

.card-title-padding {
  padding-top: 30px;
}

.about-card {
  padding-bottom: 0;
}

md-input-container {
  .md-errors-spacer {
    // scss-lint:disable ImportantRule
    min-height: 0 !important;
  }
}

.dialog-settings {
  min-height: 80%;
  min-width: 80%;

  md-dialog-actions {
    padding-left: 0;
  }
}

// credits to http://plnkr.co/edit/fFIFFrG7AO63CZeDT4kz?p=preview

.repeated-item.ng-enter,
.repeated-item.ng-move {
  opacity: 0;
  transition: 1s ease all;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}

.repeated-item.ng-leave {
  animation: 1s ease my_animation;
}

@keyframes my_animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.product-icon {
  height: auto;
  max-height: 150px;
  max-width: 150px;
  padding-bottom: 60px;
  width: auto;
}

.product-description {
  background: $background-transparent-content;
  color: $background-header-text;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.footer-height {
  height: 80px;
}

@media screen and (max-width: 960px) {
  .background-header {
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .background-header {
    height: 500px;
  }
}
