<!DOCTYPE html>
<html ng-app="webApp">

  <head>
    <!-- Meta tags used to describe key parts of the website, such as keywords, description, theme-color for Chrome browser, etc -->
    <meta charset="utf-8">
    <meta name="description" content="Ltd. Z-Med carries out deliveries of implants and instruments for the surgical treatment of injuries.">
    <meta name="author" content="Nikki Kononov">
    <meta name="keywords" content="implants, instruments, medical, health care, endoprosthesis, treatment">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2196f3">
    <!-- You can change this value to match a specific color, set as HEX code -->

    <!-- CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bower CSS files -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/bower_components/angular/angular-csp.css"/>

    <!-- User CSS/favicon files -->
    <link rel="stylesheet" href="/CSS/styles.min.css">
    <link rel="icon" href="/IMG/favicon.png">

    <!-- Title displayed at the browser tab -->
    <title>Z-med</title>

    <!-- Bower Scripts -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../bower_components/angular-scroll/angular-scroll.min.js"></script>

    <!-- User Scripts -->
    <!-- Angular main app.js and http service load -->
    <script src="../JS/app.js"></script>
    <script src="../JS/Services/json.js"></script>
    <!-- Angular Directives -->
    <script src="../JS/Directives/about.js"></script>
    <script src="../JS/Directives/navigation.js"></script>
    <script src="../JS/Directives/tabs.js"></script>
    <!-- Angular Controllers -->
    <script src="../JS/Controllers/app.js"></script>
    <script src="../JS/Controllers/tabs.js"></script>
    <script src="../JS/Controllers/navigation.js"></script>
    <script src="../JS/Controllers/about.js"></script>

  </head>

  <body ng-controller="mainController as mainCtrl" md-is-open="mainCtrl.isSideNavOpen" layout="column" ng-cloak>
    <md-sidenav class="md-sidenav-left sidenav-settings" md-component-id="left">
      <header class="sidenav-background-color">
        <img src="../IMG/logo-full-150.png" alt="Z-med Logo"/>
      </header>
      <md-content class="sidenav-transparency" flex>
        <section layout="column" layout-align="start center" du-scroll-container="scroll-container">
          <menu-bar-side ng-repeat="data in navCtrl.menuItems"></menu-bar-side>
          <!-- Menu Bar element that shows up on mobile devices -->
        </section>
      </md-content>
    </md-sidenav>
    <md-toolbar md-whiteframe="4" class="nav-toolbar" md-scroll-shrink>
      <nav class="md-toolbar-tools nav-main">
        <md-button hide-lg hide-gt-lg ng-click="mainCtrl.openLeftMenu()">
          <md-icon aria-label="Open side navigation" md-font-icon="material-icons">menu</md-icon>
        </md-button>
        <md-button hide show-lg show-gt-lg class="nav-z-logo" href="" aria-label="Logo"></md-button>
        <section layout="row" layout-align="center center" du-scroll-container="scroll-container" hide show-lg show-gt-lg>
          <menu-bar ng-repeat="data in navCtrl.menuItems"></menu-bar>
          <!-- Menu Bar element that shows up on desktop/high resolution devices -->
        </section>
      </nav>
    </md-toolbar>
    <md-content id="scroll-container" layout-fill flex>
      <header id="main" class="background-color">
        <div class="background-header">
          <h1 class="z-logo header-text md-display-1">
            Number One Distributor
            <br/>
            In Russia
          </h1>
        </div>
      </header>
      <md-content id="products" class="tab-content" layout="column" layout-align="center stretch" layout-padding>
        <h1 class="md-display-2 center-content">Featured Products</h1>
        <md-tabs flex md-dynamic-height md-border-bottom md-swipe-content="true" md-stretch-tabs="always">
          <bone-tab ng-repeat="data in tabsCtrl.info"></bone-tab>
          <!--Information about about products -->
        </md-tabs>
        <div ng-controller="tabsController" flex layout="row">
          <span flex-gt="20" flex-gt-lg="20"></span>
          <md-fab-toolbar md-direction="left" flex>
            <md-fab-trigger>
              <md-button aria-label="Toggle Actions" class="md-fab md-raised md-primary">
                <md-tooltip class="md-body-1" md-direction="top">
                  Settings Menu
                </md-tooltip>
                <md-icon icon-font-set="material-icons">settings</md-icon>
              </md-button>
            </md-fab-trigger>
            <md-toolbar>
              <md-fab-actions class="md-toolbar-tools">
                <md-button class="md-icon-button" href="mailto:info@zm5.ru" aria-label="Send an email to info@zm5.ru" class="md-icon-button" ng-mouseover="labelEmail=true" ng-mouseout="labelEmail=false">
                  <md-icon icon-font-set="material-icons">email</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="tabsCtrl.showMore($event)" aria-label="See full list of products" class="md-icon-button" ng-mouseover="labelList=true" ng-mouseout="labelList=false">
                  <md-icon icon-font-set="material-icons">view_list</md-icon>
                </md-button>
                <label ng-show="labelEmail">Send an Email About The Product</label>
                <label ng-show="labelList">View All Products</label>
              </md-fab-actions>
            </md-toolbar>
          </md-fab-toolbar>
          <span flex-gt="20" flex-gt-lg="20"></span>
        </div>
      </md-content>
      <md-content id="about" layout="column" layout-align="center center" layout-padding>
        <h1 class="md-display-2 center-content no-margin">About Us</h1>
        <div layout="row" layout-xs="column">
          <div flex>
            <h3 class="md-title center-content">Zmed L.T.D. is number one distributor of the endoprosthesis in Russia, aiming to deliver parts in fast, timely and reliable manner!</h3>
            <p class="md-body-2 center-content">
              As a number one distributor in Russia, we aim to also deliver greatest experience in addition to fast deliver of goods through:
            </p>
            <div class="center-elements" layout="row" layout-xs="column" layout-sm="column">
              <about-card flex="33" flex-xs="100" flex-sm="100" class="center-content" ng-repeat="data in aboutCardCtrl.info"></about-card>
            </div>
          </div>
        </div>
      </md-content>
      <md-content id="reach" layout="column" layout-align="center stretch" layout-padding>
        <h1 class="md-display-2 center-content">Reach Us</h1>
        <div layout="row" layout-xs="column">
          <div layout="row" flex>
            <md-card class="card-bg" flex>
              <md-toolbar>
                <div class="md-toolbar-tools md-primary">
                  <h3 class="center-content md-headline">Contact Details</h3>
                </div>
              </md-toolbar>
              <div layout-padding>
                <div layout="row" flex>
                  <md-button class="md-fab md-primary" href="tel:+74952300584" aria-label="+74952300584">
                    <md-icon md-font-icon="material-icons">phone</md-icon>
                  </md-button>
                  <md-button class="md-primary action-button" href="tel:+74952300584" aria-label="+74952300584">+7 495 230 05 84</md-button>
                </div>
                <div layout="row" flex>
                  <md-button class="md-fab md-primary" href="mailto:info@zm5.ru" aria-label="info@zm5.ru">
                    <md-icon md-font-icon="material-icons">email</md-icon>
                  </md-button>
                  <md-button class="md-primary action-button" href="mailto:info@zm5.ru" aria-label="info@zm5.ru">info@zm5.ru</md-button>
                </div>
                <div layout="row" flex>
                  <md-button class="md-fab md-primary" href="https://goo.gl/maps/smkX6U8Txqw" aria-label="https://goo.gl/maps/smkX6U8Txqw" target="_blank">
                    <md-icon md-font-icon="material-icons">navigation</md-icon>
                  </md-button>
                  <md-button class="md-primary action-button" href="https://goo.gl/maps/smkX6U8Txqw" aria-label="https://goo.gl/maps/smkX6U8Txqw">Address</md-button>
                </div>
              </div>
            </md-card>
          </div>
          <div layout="row" flex>
            <md-card class="card-bg" flex>
              <md-toolbar>
                <div class="md-toolbar-tools md-primary">
                  <h3 class="center-content md-headline">Contact Form</h3>
                </div>
              </md-toolbar>
              <div layout-padding>
                <form name="contactForm">
                  <md-input-container class="md-block">
                    <label>Name</label>
                    <input/>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Email</label>
                    <input/>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Message</label>
                    <textarea rows="5"></textarea>
                  </md-input-container>
                  <div layout-fill>
                    <md-button class="md-raised md-primary">Send</md-button>
                    <md-button class="md-raised md-accent button-right">Clear</md-button>
                  </div>
                </form>
              </div>
            </md-card>
          </div>
        </div>
      </md-content>
    </md-content>

  </body>

</html>
