<!DOCTYPE html>
<html lang="en" ng-app="webApp">

  <head>
    <!-- Meta tags used to describe key parts of the website, such as keywords, description, theme-color for Chrome browser, etc -->
    <meta charset="utf-8">
    <meta name="description" content="Ltd. Z-Med carries out deliveries of implants and instruments for the surgical treatment of injuries.">
    <meta name="author" content="Nikki Kononov">
    <meta name="keywords" content="implants, instruments, medical, health care, endoprosthesis, treatment">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2196f3">
    <!-- You can change this value to match a specific color, set as HEX code -->

    <!-- CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bower CSS files -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/bower_components/angular/angular-csp.css"/>

    <!-- User CSS/favicon files -->
    <link rel="stylesheet" href="/CSS/styles.min.css">
    <link rel="icon" href="/IMG/favicon.png">

    <!-- Title displayed at the browser tab -->
    <title>Z-med</title>

    <!-- Bower Scripts -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="../bower_components/clipboard/dist/clipboard.min.js"></script>
    <script src="../bower_components/ngclipboard/dist/ngclipboard.min.js"></script>

    <!-- User Scripts -->
    <!-- Angular main app.js and http service load -->
    <script src="../JS/app.js"></script>
    <script src="../JS/Services/json.js"></script>
    <!-- Angular Directives -->
    <script src="../JS/Directives/about.js"></script>
    <script src="../JS/Directives/navigation.js"></script>
    <script src="../JS/Directives/tabs.js"></script>
    <script src="../JS/Directives/removeFocus.js"></script>
    <!-- Angular Controllers -->
    <script src="../JS/Controllers/app.js"></script>
    <script src="../JS/Controllers/tabs.js"></script>
    <script src="../JS/Controllers/navigation.js"></script>
    <script src="../JS/Controllers/about.js"></script>

  </head>

  <body ng-controller="mainController as mainCtrl" md-is-open="mainCtrl.isSideNavOpen" layout="column" ng-cloak>
    <md-sidenav class="md-sidenav-left sidenav-settings" layout="column" md-component-id="left">
      <header layout-margin class="center-content">
        <img class="nav-logo-size" src="../IMG/logo-full-150.png" alt="Z-med Logo"/>
      </header>
      <md-content class="sidenav-transparency" flex>
        <section layout="column" du-scroll-container="scroll-container">
          <menu-bar-side ng-repeat="data in navCtrl.menuItems"></menu-bar-side>
          <!-- Menu Bar element that shows up on mobile devices -->
        </section>
      </md-content>
    </md-sidenav>
    <md-toolbar md-whiteframe="4" class="nav-toolbar" md-scroll-shrink>
      <nav class="md-toolbar-tools nav-main">
        <md-button hide-lg hide-gt-lg ng-click="mainCtrl.openLeftMenu()">
          <md-icon aria-label="Open side navigation" md-font-icon="material-icons">menu</md-icon>
        </md-button>
        <md-button hide show-lg show-gt-lg class="nav-z-logo" aria-label="Logo"></md-button>
        <section layout="row" layout-align="center center" du-scroll-container="scroll-container" hide show-lg show-gt-lg>
          <menu-bar ng-repeat="item in navCtrl.count track by $index"></menu-bar>
          <!-- Menu Bar element that shows up on desktop/high resolution devices -->
        </section>
        <span flex></span>
        <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" aria-label="Open DrownDown Menu" ng-click="mainCtrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-font-set="material-icons">language</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="mainCtrl.changeLanguage('en')" aria-label="Change language to English" translate="LOCALE_EN"></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="mainCtrl.changeLanguage('ru')" aria-label="Change language to Russian" translate="LOCALE_RU"></md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </nav>
    </md-toolbar>
    <md-content id="scroll-container" layout-fill flex>
      <header id="main" class="background-color">
        <div class="background-header">
          <h1 class="z-logo header-text md-display-1" translate="TITLE">
          </h1>
        </div>
      </header>
      <md-content id="products" class="tab-content" layout="column" layout-align="center stretch" layout-padding>
        <h1 class="md-display-2 center-content" translate="FEATURED"></h1>
        <label hide show-sm show-xs class="md-title center-content" translate="SWIPE_FUNCTIONALITY"></label>
        <md-tabs flex md-dynamic-height md-border-bottom md-swipe-content="true" md-stretch-tabs="always">
          <bone-tab ng-repeat="data in tabsCtrl.info"></bone-tab>
          <!--Information about about products -->
        </md-tabs>
        <div ng-controller="tabsController" flex layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" ng-click="tabsCtrl.showMore($event)" aria-label="See full list of products" translate="VIEW_ALL_PRODUCTS"></md-button>
        </div>
      </md-content>
      <md-content id="about" layout="column" layout-align="center center" layout-padding>
        <h1 class="md-display-2 center-content no-margin" translate="ABOUT"></h1>
        <div layout="row" layout-xs="column">
          <div flex>
            <h3 class="md-title center-content" translate="ABOUT_HEADER"></h3>
            <p class="md-body-2 center-content" translate="ABOUT_CONTENT"></p>
            <div class="center-elements" layout="column" layout-gt-sm="row">
              <about-card flex="33" flex-xs="100" flex-sm="100" class="center-content" ng-repeat="item in aboutCardCtrl.count track by $index"></about-card>
            </div>
          </div>
        </div>
      </md-content>
      <md-content id="reach" layout="column" layout-align="center center" layout-padding>
        <h1 class="md-display-2 center-content" translate="REACH"></h1>
        <p class="center-content"translate="REACH_TEXT"></p>
        <div layout="row" layout-xs="column" layout-fill>
          <div layout="column" layout-xs="row" flex layout-align="center center" layout-align-xs="start center">
            <md-button class="md-fab md-primary" href="tel:+74952300584" aria-label="Phone number to call +74952300584" ngclipboard data-clipboard-text="+74952300584">
              <md-icon md-font-icon="material-icons">phone</md-icon>
            </md-button>
            <md-button class="md-primary action-button" href="tel:+74952300584" aria-label="Phone number to call +74952300584" ngclipboard data-clipboard-text="+74952300584">+7 495 230 05 84</md-button>
          </div>
          <div layout="column" layout-xs="row" flex layout-align="center center" layout-align-xs="start center">
            <md-button class="md-fab md-primary" href="mailto:info@zm5.ru" aria-label="Email for question to info@zm5.ru" ngclipboard data-clipboard-text="info@zm5.ru">
              <md-icon md-font-icon="material-icons">email</md-icon>
            </md-button>
            <md-button class="md-primary action-button" href="mailto:info@zm5.ru" aria-label="Email for question to info@zm5.ru" ngclipboard data-clipboard-text="info@zm5.ru">info@zm5.ru</md-button>
          </div>
          <div layout="column" layout-xs="row" flex layout-align="center center" layout-align-xs="start center">
            <md-button
              class="md-fab md-primary"
              href="https://goo.gl/maps/smkX6U8Txqw"
              aria-label="Address link to google maps https://goo.gl/maps/smkX6U8Txqw"
              target="_blank"
              ngclipboard
              data-clipboard-text="Leningradskiy prospekt, 37 корпус 9, Moskva, Russia, 125167">
              <md-icon md-font-icon="material-icons">navigation</md-icon>
            </md-button>
            <md-button class="md-primary action-button" href="https://goo.gl/maps/smkX6U8Txqw" aria-label="Address link to google maps https://goo.gl/maps/smkX6U8Txqw" ngclipboard data-clipboard-text="Leningradskiy prospekt, 37 корпус 9, Moskva, Russia, 125167">Google Maps</md-button>
          </div>
        </div>
      </md-content>
    </md-content>

  </body>

</html>
