<md-tab label="{{tabsCtrl.getContent($index, 0) | translate}}" class="material-tab">
  <md-content layout="column" layout-padding layout-align="center center">
    <md-card class="card-tab card-bg">
      <div class="flex-center"><img ng-src="{{tabsCtrl.getContent($index, 3) | translate}}" class="md-card-image placeholder-image flex-center" alt="Product Image"></div>
      <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{tabsCtrl.getContent($index, 1) | translate}}</span>
          </md-card-title-text>
        </md-card-title>
      <md-card-content>
        {{tabsCtrl.getContent($index, 2) | translate}}
      </md-card-content>
    </md-card>
  </md-content>
</md-tab>
