<md-tab label="{{data.tabName}}" class="material-tab">
  <md-content class="md-padding" layout="column" layout-align="center center">
    <md-card class="card-tab card-bg">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{data.heading}}</span>
          <span class="md-subhead">{{data.subHeading}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <img class="md-media-lg" ng-src="{{data.image}}" />
        </md-card-title-media>
      </md-card-title>
      <md-card-actions>
        <md-button class="md-raised md-primary">See More</md-button>
        <md-button class="md-raised md-accent">Full List</md-button>
        <md-button class="md-raised md-primary button-right">Email</md-button>
      </md-card-actions>
    </md-card>
  </md-content>
</md-tab>
