<md-tab label="{{data.tabName}}" class="material-tab">
  <md-content layout="column" layout-padding layout-align="center center">
    <md-card class="card-tab card-bg">
      <img ng-src="{{data.image}}" class="md-card-image placeholder-image" alt="Product Image">
      <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{data.heading}}</span>
          </md-card-title-text>
        </md-card-title>
      <md-card-content>
        {{data.description}}
      </md-card-content>
    </md-card>
  </md-content>
</md-tab>
